{%load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Features</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/c54610741d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'css/features.css' %}">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
        <nav id="scrollspy" class="navbar navbar-light bg-dark navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="features">Features</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                
            </ul>
        </div>
        <div class="container">
            <h1>System Features</h1>
            <div class="row">
                <div class="features">
                    <h2>Accurate</h2>
                    <p>PGPMS  is very accurate as compared<br>
                        to the manual form of entering the details of each<br>
                        person who is taking an entry in the organisation</p>
                </div>
                <div class="features">
                    <h2>Track all the user logs</h2>
                    <p> All the update and working
                        details of user are<br>seen
                        their by the modules
                        name, sub-module name.<br>
                        Search tool bar is very
                        effective to search any user<br>
                        logs by selecting the user
                        name and also date wise<br>
                        </p>
                </div>
                <div class="features">
                    <h2>Built-in reports</h2>
                    <p>This allows you the ability
                        to  analyse and retrieve <br>
                        visitor data for
                        any given time frame.<br> You
                        also have an option to
                        generate the reports <br> on all
                        the visitors and can even
                        have the information.</p>
                </div><div class="features">
                    <h2>Real-Time Tracking</h2>
                    <p>Every action in the gate
                        pass workflow takes place<br>  in 
                        real-time.</p>
                </div><div class="features">
                    <h2>Add/Remove Fields</h2>
                    <p>PGPMS has custom
                        fields that you can easily<br> 
                        add or remove to capture various
                        data for<br>
                         your one's unique needs.</p>
                </div><div class="features">
                    <h2>Save time</h2>
                    <p>One  doesn’t have to wait for
                        hours before<br> the
                        information is handed and
                        you have to<br>do are to click
                        and get all the info that
                        you need.</p>
                </div>
            </div>
        </div>
        
    </body>