{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>



    <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
        
        <nav id="scrollspy" class="navbar navbar-light bg-dark navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="features">Features</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                       
                    </ul>
                </div>

        {% for message in messages %}
        <div class="alert-{{ message.tags }} alert-dismissable fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}

        
        
            <div class="background-image">
                <img src="static\CSS\images\cover-1635986546.png">
            </div>
        <div class="submit">
        {% if user.is_authenticated %}
        <h3>Hello {{ fname }}</h3>
        <h4>You're successfully logged in.</h4>
        <button type="submit"> <a href="/signout">SignOut</a></button>

        {% else %}
        
        <h4 class="text-white"><button type="submit"> <a href="/signin">SignIn</a></button></h4>
        </div>
        <button type="submit"> <a href="/signup">SignUp</a> </button>
        {% endif %}

    </div>
    </div>
    <div id="menu-btn" class="fas fa-bars"></div>

        
        
        <script src="" async defer></script>
    </body>
</html>

    

</html>